body{
    background-color: rgb(13, 173, 173);
}
header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
}
header h1{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    margin-top: -2%;
}
main{
    margin: 2%;
    text-align: center;
}
h2{
    color: rgb(214, 214, 214);
    font-size: 1.8rem;
}
p, ul li{
    font-size: 1.2rem;
}


